# Supabase Configuration
VITE_SUPABASE_URL=https://smlebcxvxwrimyvbayif.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtbGViY3h2eHdyaW15dmJheWlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMjkzMzYsImV4cCI6MjA4NjgwNTMzNn0.THeT35lCwNQ9PQtK9CD921SkXFLSApDbafxpfxgIv1o

# Port (Railway will set this automatically)
PORT=3000
